@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  

body {
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
main{
    margin: 0% 10%;
}
section{
    margin: 100px 0px;
}
.color-primary{
    color: red;
}

.styled-font{
    font-family: "Libre Baskerville", serif;
    font-weight: 800;
}

/* header style */
.header-container{
    background-image:  linear-gradient(to bottom, rgba(41, 41, 41, 0.527), rgba(255, 255, 255, 0.158)), url(/images/Banner_Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
    margin: 5% 10%;
    border-radius: 5px;

}
.banner-text{
    text-align: center;
    padding: 200px 0px;
    font-size: 50px;
}
.discount-section div{
    text-align: center;
}
.discount-section>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.discount-info{
    margin: 50px 0px;
}
.discount{
    font-size: 50px;
}
.new-year-image-bg{
    background-image: url(/images/Vectorrr.png);
}

.party-image-bg{
    background-image:linear-gradient(to right, rgba(24, 24, 24, 0.664),rgba(51, 51, 51, 0.26)) ,url(/images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.party-info-container{
    padding: 100px 0px 100px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 150px;
    color: white;
    
}
.welcome-heading{
    font-size: 50px;
}
.width50{
    width: 50%;
}
.party-description{
    margin-top: 50px;
}
.join-button{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 100px;
    display: block;
}
.park-hotel{
    background-image: linear-gradient(to bottom, #ffa4a4, rgba(255, 255, 255, 0.685));
}
.red-text{
    color: red;
}
.hotel-info{
    text-align: center;
    padding-top: 100px;
}
.join-park-btn{
    background-color: red;
    color:white;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    margin-top:80px;

}
.join-park-btn > a{
    text-decoration: none;
    color:white;
    font-weight: bold;

}
.offer-comming-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
}
.offer-box{
    width: 30%;
}
.img-border{
    border: 10px solid red;
    border-radius: 100%;
    padding: 20px;
}
.offer-description{
    margin: 20px 0px;
}

/* holiday section */

.holiday-info{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.holiday-description{
    margin: 30px 0px;
}
.holiday-title{
    font-size: 50px;
}
.holiday-img{
    background-image: url(/images/Rectangle-2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    background-size: 100%;

}
.shoping-girl{
    background-image: url(/images/Rectangle-1.png);
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1;
    width: 100%;
    margin-bottom: 250px;
}
.discount-cart{
    margin-left: 140px;
    margin-top: 50px;
}

/* portfolio */

.portfolio-info{
    width: 60%;
}
.portfolio-description{
    margin: 30px 0px;
}
.portfolio-items{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.portfolio-items img{
    width: 100%;
}
.size{
    font-size: 40px;

}
/* subscribe */
.subscribe{
    text-align: center;
    background-color: rgb(243, 199, 199);
    border-radius: 10px;
    padding: 80px 200px;
}
.subscribe > h1 {
    margin: 15px 0px;
}
.input-box{
    margin: 50px 0px 20px 0px;
    border: none;
    outline: unset;
    border-radius: 20px 0px 0px 20px;
    font-size: 18px;
    padding: 15px;
}
.Subscribe-btn{
    margin: 50px 0px 20px 0px;
    border: none;
    outline: unset;
    border-radius: 0px 20px 20px 0px;
    font-size: 18px;
    padding: 15px 25px;
    color: white;
    background-color: red;
}

/* footer style */
footer{
    background-color: rgb(4, 4, 31);
}
.footer-container{
    color: white;
    width: 80%;
    margin: 0px auto;
    padding: 100px 0px;
}
.social-icon{
    text-align: center;
    margin: 40px 0px;
}
.social-icon img{
    margin: 0px 15px;
}
.footer-info{
    display: flex;
    justify-content: space-between;
}
.address{
    margin-bottom: 50px;
}
.footer-last{
    margin-top: 50px;
}
.footer-hook{
    color: white;
    text-decoration: none;
}
footer hr{
   background-color: gray;
}